<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer
    class="example-sidenav"
    mode="side"
    opened="false">
    <mat-toolbar class="header">
      <div>Your Logo</div>
      <mat-icon class="close"
     (click)="drawer.close()">close</mat-icon>
    </mat-toolbar>
    <div class="">
      <mat-list>
        @for (item of menuItems; track $index) {
          <mat-list-item class="">
            <a
            class="text-white"
            [routerLink]="item.route"
            routerLinkActive="bg-admin"
            >
            <mat-icon aria-hidden="false" fontIcon="{{item.icon}}"></mat-icon>
            {{item.text}}
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
        }
      </mat-list>
    </div>
  </mat-drawer>

  <mat-toolbar class="main header">
    <mat-icon
      (click)="drawer.toggle()">
      menu
    </mat-icon>
    <div> CafeShop | Panel Admin</div>
    <div>
      {{currentUser()?.fullName}}

      <button
        mat-button
        color="accent"
        (click)="onLogout();"
      >Log out</button>
    </div>
  </mat-toolbar>
  <div class="justify-content-end">

  </div>

  <div class="main contents">
    <div class="container">
      <router-outlet/>

    </div>
  </div>
</mat-drawer-container>
