.drawer {
  position: fixed;
  height: 100vh;
  min-width: 30%;
  border-right: 1px solid #ccc;
}

.mat-drawer-side {
  background-color: var(--main-color);

}
.drawer .header {
  position: absolute;
  right: 0;
  justify-content: space-between;
}
.drawer .contents {
  padding: 16px;
}

.main.header {
  background-color: var(--main-color);
  color: #fff;
}

.main.header {
  border-bottom: 1px solid #ccc;
  justify-content: space-between;

}

.main.contents {
  min-height: 100vh;
  margin-top: 64px; /* height of header */
  padding: 16px;
}


